
div.card
    h1= blog.title
    h3= blog.author
    p= blog.body
    form(method="POST" action="/blog/delete?_method=DELETE")
        input(type="hidden" name="_id" value=blog.id)
        input(type="submit" value="DELETE")
    - var link = "./blog/" + blog._id + "/edit"
    a(href=link) EDIT